input[type='number'] {
    -moz-appearance:textfield;
    width: 4rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}